:root {
  --color-tarot-noir: #385B63;
  --color-tarot-rouge: #662318;
}
@font-face {
  font-family: "CaslonPro";
  src: url("../fonts/ACaslonPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "GaramondPro";
  src: url("../fonts/AGaramondPro-BoldItalic.otf") format("opentype");
}
.ldc.sheet.actor form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.ldc.sheet.actor form .separateur10 {
  margin-top: 10px;
}
.ldc.sheet.actor form .separateur15 {
  margin-top: 15px;
}
.ldc.sheet.actor form .titre-rouge {
  color: var(--color-tarot-rouge);
  font-family: "CaslonPro";
  font-size: 1.5em;
}
.ldc.sheet.actor form .rouge {
  color: var(--color-tarot-rouge);
}
.ldc.sheet.actor form .titre-noir {
  color: var(--color-tarot-noir);
  font-family: "CaslonPro";
  font-size: 1.5em;
}
.ldc.sheet.actor form .noir {
  color: var(--color-tarot-noir);
}
.ldc.sheet.actor form .titre-align {
  align-self: center;
  margin: 0 3px;
}
.ldc.sheet.actor form .centre {
  text-align: center;
}
.ldc.sheet.actor form .item-box {
  border: 1px solid;
  border-radius: 2px;
  border-color: grey;
  margin: 1px;
  padding: 1px;
}
.ldc.sheet.actor form .item-box .titre {
  font-size: 1.2em;
  margin: 0 3px;
  font-family: "GaramondPro";
  align-self: center;
}
.ldc.sheet.actor form .item-box .box {
  display: flex;
}
.ldc.sheet.actor form .item-box .entete {
  display: flex;
  border-bottom: 1px solid;
  border-color: grey;
}
.ldc.sheet.actor form .item-box .item-nom {
  flex-grow: 3;
}
.ldc.sheet.actor form .item-box .edit-box {
  background-color: rgba(82, 77, 77, 0.075);
}
.ldc.sheet.actor form .item-box .editor {
  font-size: 0.9em;
}
.ldc.sheet.actor form .item-box img {
  display: block;
  border: none;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
.ldc.sheet.actor .sheet-fixed-content {
  font-family: "GaramondPro";
}
.ldc.sheet.actor .sheet-header {
  font-family: "GaramondPro";
}
.ldc.sheet.actor .sheet-header img {
  flex: 0 0 128px;
  height: 128px;
}
.ldc.sheet.actor .sheet-header label {
  align-self: center;
  padding: 0 3px;
}
.ldc.sheet.actor .sheet-header .ligne-nom {
  display: flex;
}
.ldc.sheet.actor .sheet-header .ligne-nom .nom-lame {
  font-size: 2em;
  flex: 1 0;
}
.ldc.sheet.actor .sheet-header .ligne-nom .nom-lame input[type="text"] {
  height: max-content;
}
.ldc.sheet.actor .sheet-header .ligne-nom .padlock {
  align-self: center;
  text-align: center;
  margin: 3px;
}
.ldc.sheet.actor .sheet-header .profil-item {
  display: flex;
  align-items: center;
}
.grid-identite {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 4fr;
  margin: 2px;
  margin-top: 5px;
}
.grid-identite .profils {
  grid-column: 2 / 7;
  display: flex;
}
.grid-caracs {
  display: grid;
  grid-template-columns: 140px 1fr;
}
.grid-caracs .col-sante {
  grid-row: 1 / 3;
  background-image: url("../images/sante.png");
}
.grid-sante {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 146px 28px 11px 28px 11px 28px 11px 28px 11px 28px 10px 28px 11px 28px 11px 28px;
  color: var(--color-tarot-noir);
  font-family: "GaramondPro";
  font-size: 1.5em;
  text-align: center;
}
.grid-sante .col-min {
  grid-column: 1 / 2;
  align-self: center;
  margin-top: 6px;
}
.grid-sante .col-check {
  grid-column: 2 / 3;
  align-self: center;
  margin-top: 6px;
}
.grid-sante .col-plus {
  grid-column: 3 / 4;
  align-self: center;
  margin-top: 6px;
}
.grid-sante .row1 {
  grid-row: 2 / 3;
}
.grid-sante .row2 {
  grid-row: 4 / 5;
}
.grid-sante .row3 {
  grid-row: 6 / 7;
}
.grid-sante .row4 {
  grid-row: 8 / 9;
}
.grid-sante .row5 {
  grid-row: 10 / 11;
}
.grid-sante .row6 {
  grid-row: 12 / 13;
}
.grid-sante .row7 {
  grid-row: 14 / 15;
}
.grid-sante .row8 {
  grid-row: 16 / 17;
}
.grid-comp {
  display: grid;
  grid-template-columns: 1fr 3em 3em 3em 1fr 3em 3em 3em;
}
.grid-comp input[type="number"] {
  width: 2.5em;
  font-family: "GaramondPro";
  text-align: center;
  margin: 2px 0;
}
.grid-comp .col1 {
  grid-column: 1 / 5;
}
.grid-comp .col2 {
  grid-column: 5 / 9;
}
.grid-comp .signe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-comp .signe img {
  display: block;
  border: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.grid-comp .ligne-valeur-carac {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grid-comp .valeur-carac {
  font-size: 2.2em;
  font-family: "GaramondPro";
  margin: 0 5px;
}
.grid-comp .btn-carac {
  font-size: 1.5em;
  margin: 0 5px;
}
.grid-comp .ligne-case-carac {
  margin: 0 10px;
}
.grid-comp .ligne-case-carac .case-carac {
  font-size: 1.2em;
}
.grid-comp .legende {
  font-family: "GaramondPro";
  font-size: 0.8em;
  justify-self: center;
}
.grid-comp .titre-comp {
  align-self: center;
  font-family: "GaramondPro";
  margin: 7px 20px;
}
.grid-comp .valeur-comp,
.grid-comp .reus-auto {
  align-self: center;
  font-family: "GaramondPro";
  justify-self: center;
}
.grid-comp .btn-comp {
  align-self: center;
  justify-self: center;
}
.grid-comp-unlocked {
  display: grid;
  grid-template-columns: 1fr 3em 1em 3em 3em 1em 1fr 3em 1em 3em 3em 1em;
}
.grid-comp-unlocked input[type="number"] {
  width: 2.5em;
  font-family: "GaramondPro";
  text-align: center;
  margin: 2px 0;
}
.grid-comp-unlocked .col1 {
  grid-column: 1 / 7;
}
.grid-comp-unlocked .col2 {
  grid-column: 7 / 13;
}
.grid-comp-unlocked .signe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-comp-unlocked .signe img {
  display: block;
  border: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.grid-comp-unlocked .ligne-valeur-carac {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grid-comp-unlocked .valeur-carac {
  font-size: 2.2em;
  font-family: "GaramondPro";
  margin: 0 5px;
}
.grid-comp-unlocked .btn-carac {
  font-size: 1.5em;
  margin: 0 5px;
}
.grid-comp-unlocked .ligne-case-carac {
  margin: 0 10px;
}
.grid-comp-unlocked .ligne-case-carac .case-carac {
  font-size: 1.2em;
}
.grid-comp-unlocked .legende {
  font-family: "GaramondPro";
  font-size: 0.8em;
  justify-self: center;
}
.grid-comp-unlocked .titre-comp {
  align-self: center;
  font-family: "GaramondPro";
  margin: 7px 20px;
}
.grid-comp-unlocked .valeur-comp,
.grid-comp-unlocked .reus-auto {
  align-self: center;
  font-family: "GaramondPro";
  justify-self: center;
}
.grid-comp-unlocked .btn-comp {
  align-self: center;
  justify-self: center;
}
.grid-comp-unlocked .btn-pc,
.grid-comp-unlocked .btn-exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
}
.grid-ecole {
  display: grid;
  grid-template-columns: 5em 1fr;
}
.grid-ecole .col-all {
  grid-column: 1 / 3;
}
.grid-ecole img {
  display: block;
  border: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.grid-ecole .nom-ecole {
  font-size: 1.3em;
  font-family: "CaslonPro";
}
.grid-ecole .editor {
  background-color: rgba(82, 77, 77, 0.075);
  font-size: 0.9em;
}
.grid-escrime-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-escrime-items .col-all {
  grid-column: 1 / 3;
}
.grid-escrime-items .col1 {
  grid-column: 1 / 2;
}
.grid-escrime-items .col2 {
  grid-column: 2 / 3;
}
.grid-epee {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-epee .col-all {
  grid-column: 1 / 3;
}
.grid-epee .col-1 {
  grid-column: 1 / 2;
}
.grid-epee .col-2 {
  grid-column: 2 / 3;
}
.grid-arcanes {
  display: grid;
  grid-template-columns: 1fr 5em 1fr 5em 2.5em;
}
.grid-arcanes .col-all {
  grid-column: 1 / 6;
}
.grid-arcanes .col-arcane-beni {
  grid-column: 1 / 3;
}
.grid-arcanes .col-arcane-oppose {
  grid-column: 3 / 5;
}
.grid-arcanes .case-arcane-suppr {
  grid-column: 5 / 6;
  grid-row: 1 / 3;
}
.grid-arcanes .arcane-suppr {
  font-size: 1.2em;
}
.grid-arcanes .text-arcane {
  font-family: "GaramondPro";
  margin: 0 3px;
}
.grid-arcanes .editor {
  background-color: rgba(82, 77, 77, 0.075);
  font-size: 0.9em;
}
.grid-ressContacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-ressContacts .valeur-ress,
.grid-ressContacts .valeur-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grid-ressContacts .ligne-case-ress,
.grid-ressContacts .ligne-case-contact {
  margin: 0 5px;
}
.grid-ressContacts .ligne-case-ress .case-ress,
.grid-ressContacts .ligne-case-contact .case-ress,
.grid-ressContacts .ligne-case-ress .case-contact,
.grid-ressContacts .ligne-case-contact .case-contact {
  font-size: 1.2em;
}
.grid-ressContacts input[type="number"] {
  width: 2.5em;
  font-family: "GaramondPro";
  text-align: center;
  margin: 2px 0;
}
.equip-item .equip-entete {
  display: flex;
  align-items: center;
  font-family: "GaramondPro";
  margin: 0 3px;
  border-bottom: 1px solid;
  border-color: grey;
}
.equip-item .equip-nom {
  font-size: 1.2em;
  flex-grow: 3;
}
.equip-item .row-titre {
  font-family: "GaramondPro";
}
.equip-item .editor {
  background-color: rgba(82, 77, 77, 0.075);
  font-size: 0.9em;
}
.contact-item .contact-entete {
  display: flex;
  align-items: center;
  font-family: "GaramondPro";
  margin: 0 3px;
  border-bottom: 1px solid;
  border-color: grey;
}
.contact-item .contact-nom {
  font-size: 1.2em;
  flex-grow: 3;
}
.contact-item .row-titre {
  font-family: "GaramondPro";
}
.contact-item .editor {
  background-color: rgba(82, 77, 77, 0.075);
  font-size: 0.9em;
}
.desc .editor {
  height: 250px;
  background-color: rgba(82, 77, 77, 0.075);
  font-size: 0.9em;
}
.ldc.sheet.item .sheet-content {
  display: flex;
  flex-direction: column;
}
.ldc.sheet.item .sheet-content select {
  width: 100%;
}
.ldc.sheet.item .sheet-content .editor {
  height: 150px;
}
.ldc.sheet.item .sheet-content div {
  padding: 1px;
}
.ldc.sheet.item .sheet-content .titre-rouge {
  color: var(--color-tarot-rouge);
  font-size: 1.5em;
}
.ldc.sheet.item .sheet-content .titre-noir {
  color: var(--color-tarot-noir);
  font-size: 1.5em;
}
.ldc.sheet.item .sheet-content .titre-align {
  align-self: center;
  margin: 0 3px;
}
.ldc.sheet.item .sheet-content .separateur15 {
  margin-top: 15px;
}
.ldc.sheet.item .sheet-header a {
  flex: 0 15px;
}
.ldc.sheet.item .sheet-header h1 {
  flex: 3;
}
.ldc.sheet.item .sheet-content.ecole .editor {
  height: 250px;
}
.grid-item-profil {
  display: grid;
  grid-template-columns: 50px 1fr 2.5em 1fr 2.5em 1fr 2.5em 1fr 2.5em 1fr 2.5em;
}
.grid-item-profil input[type="number"] {
  width: 2.5em;
  text-align: center;
  margin: 2px 0;
}
.grid-item-profil .titre-varia {
  grid-column: 1 / 3;
}
.grid-item-profil .valeur-varia {
  grid-column: 3 / 12;
}
.grid-item-profil .titre-categ {
  grid-column: 1 / 3;
}
.grid-item-profil .valeur-categ {
  grid-column: 3 / 7;
}
.grid-item-profil .titre-niveau {
  grid-column: 8 / 10;
}
.grid-item-profil .valeur-niveau {
  grid-column: 10 / 12;
}
.grid-item-profil .titre-comp,
.grid-item-profil .titre-varia,
.grid-item-profil .titre-categ,
.grid-item-profil .titre-niveau,
.grid-item-profil .titre-occulte,
.grid-item-profil .titre-escrime {
  align-self: center;
  margin: 0 3px;
}
.grid-item-profil .valeur-comp {
  justify-self: center;
  align-self: center;
}
.grid-item-profil .titre-occulte {
  grid-column: 1 / 5;
}
.grid-item-profil .titre-escrime {
  grid-column: 8 / 11;
}
.grid-item-profil .signe img {
  display: block;
  border: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.grid-item-feinte {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-item-feinte input[type="number"] {
  width: 2.5em;
  text-align: center;
  margin: 2px 0;
}
.grid-item-botte {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2.5em;
}
.grid-item-botte input[type="number"] {
  width: 2.5em;
  text-align: center;
  margin: 2px 0;
}
.grid-item-ecole {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-item-ecole input[type="number"] {
  width: 2.5em;
  text-align: center;
  margin: 2px 0;
}
.grid-item-ecole select {
  align-self: center;
}
.grid-item-ecole img {
  display: block;
  border: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.grid-item-epee {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.grid-item-epee .col-all {
  grid-column: 1 / 3;
}
.grid-item-epee select {
  margin: 2px 0;
}
.grid-item-arcane {
  display: grid;
  grid-template-columns: 1fr 2.5em 2fr 2fr 1.5fr 2fr;
}
.grid-item-arcane .col-all {
  grid-column: 1 / 7;
}
.grid-item-arcane .titre-manif {
  grid-column: 1 / 3;
}
.grid-item-arcane .valeur-manif {
  grid-column: 3 / 5;
}
.grid-item-arcane .arc-oppose {
  grid-column: 5 / 7;
}
.grid-item-arcane input[type="number"] {
  width: 2.5em;
  text-align: center;
  margin: 2px 0;
}
.grid-item-equip {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 6em;
}
.grid-item-equip .col-all {
  grid-column: 1 / 5;
}
.grid-item-equip .centre {
  text-align: center;
}
.grid-item-equip input[type="number"] {
  width: 2.5em;
  text-align: center;
  margin: 2px 0;
}
.grid-item-contact {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}
.grid-item-contact .col-all {
  grid-column: 1 / 5;
}
.grid-item-contact .centre {
  text-align: center;
}
.grid-item-contact select {
  align-self: center;
}
#card-hands-list {
  --hand-height: 94px;
  width: 200px;
  margin: 0 5px 10px 15px;
  padding: 0;
  border: 1px solid var(--color-border-dark);
  pointer-events: all;
}
#card-hands-list #card-hands-list-hands-wrapper {
  container-type: size;
  padding: 0 2px;
  overflow-y: auto;
  pointer-events: all;
  scroll-snap-type: y mandatory;
}
#card-hands-list #card-hands-list-hands-wrapper:has(.card-hands-list-hand:nth-child(n+1)) {
  height: var(--hand-height);
}
#card-hands-list #card-hands-list-hands-wrapper:has(.card-hands-list-hand:nth-child(n+2)) {
  height: calc(var(--hand-height) * 2);
}
#card-hands-list #card-hands-list-hands-wrapper:has(.card-hands-list-hand:nth-child(n+3)) {
  height: calc(var(--hand-height) * 3);
}
#card-hands-list #card-hands-list-hands-wrapper:has(#context-menu) {
  scroll-snap-type: y normal;
}
#card-hands-list #card-hands-list-hands-wrapper:has(#context-menu) .card-hands-list-hand {
  scroll-snap-align: none;
}
#card-hands-list .card-hands-list-title {
  margin: 3px;
  padding: 4px;
  border-bottom: 2px groove var(--color-border-dark-secondary);
  pointer-events: all;
}
#card-hands-list .card-hands-list-title i {
  margin: 0 6px;
}
#card-hands-list .card-hands-list-title .card-hands-list-mode {
  font-size: var(--font-size-16);
  margin: 0 5px;
  color: var(--color-text-light-primary);
}
#card-hands-list .card-hands-list-hand {
  height: var(--hand-height);
  padding: 4px 8px;
  display: grid;
  grid-template-columns: 1fr 18px;
  grid-template-rows: min-content auto;
  gap: 0 4px;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
#card-hands-list .card-hands-list-hand:hover,
#card-hands-list .card-hands-list-hand *:hover {
  scroll-snap-align: always;
}
#card-hands-list .card-hands-list-hand:not(:last-of-type) {
  border-bottom: 2px groove var(--color-border-dark-secondary);
}
#card-hands-list.collapsed #card-hands-list-hands-wrapper {
  height: auto;
}
#card-hands-list.collapsed #card-hands-list-hands-wrapper:has(.card-hands-list-hand) {
  height: var(--hand-height);
}
#card-hands-list.collapsed #card-hands-list-hands-wrapper .card-hands-list-hand {
  border: none;
}
#card-hands-list .card-hands-list-name {
  margin: 0;
  padding: 4px 2px;
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: var(--font-size-14);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  pointer-events: all;
}
#card-hands-list .card-hands-list-name.is-owner {
  color: #c0eddb;
}
#card-hands-list .card-hands-list-context-menu-link {
  grid-row: 1/2;
  grid-column: 2/3;
  text-align: center;
  justify-self: stretch;
  pointer-events: all;
  cursor: pointer;
}
#card-hands-list .card-hands-list-context-menu-link #context-menu {
  width: max-content;
  justify-self: start;
  text-align: left;
  text-wrap: nowrap;
  text-shadow: none;
  overflow: auto;
}
.collapsed #card-hands-list .card-hands-list-context-menu-link #context-menu {
  margin-top: -1.5em;
  height: 100cqh;
}
#card-hands-list .card-hands-list-buttons {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
#card-hands-list .card-hands-list-button {
  color: currentColor;
  cursor: pointer;
  pointer-events: all;
}
#card-hands-list .card-hands-list-button.--hidden {
  visibility: hidden;
}
#card-hands-list :is(.card-hands-list-button, .card-hands-list-name) a:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
#card-hands-list .card-hands-list-cards {
  margin: 0;
  padding: 0;
  height: 100%;
  container-type: size;
  grid-column: 1/2;
  grid-row: 2/3;
  list-style-type: none;
  display: flex;
  gap: 0.25em;
  align-items: center;
  justify-content: start;
  overflow-y: clip;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  pointer-events: all;
}
#card-hands-list .card-hands-list-card {
  padding: 1px;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
#card-hands-list .card-hands-list-card:hover,
#card-hands-list .card-hands-list-card *:hover {
  scroll-snap-align: always;
}
#card-hands-list .card-hands-list-card .card-hands-list-card-image {
  max-height: 100%;
  object-position: center;
  object-fit: contain;
  border: none;
  filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.5));
}
#card-hands-list .card-hands-list-card .card-hands-list-card-image:hover {
  filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 3px var(--color-shadow-highlight));
}
#card-hands-list .card-hands-list-context-menu-link .card-hands-list-negative-margin {
  margin-left: -800%;
}
div#camera-views #card-hands-list {
  background: none;
  box-shadow: none;
  margin: 0;
  width: 100%;
  border-radius: 0;
  border: none;
  border-top: 6px solid rgba(0, 0, 0, 0.5);
}
/* Minimal UI Styles */
div:not(:is(.camera-position-left, .camera-position-right)) #card-hands-list.minimal-ui.list-behavior-autohide {
  margin-bottom: calc(var(--playerbot) / 6);
  font-size: var(--playerfsizehv);
  border: 1px solid var(--bordercolor);
  box-shadow: 0 var(--hotbarshp) var(--shadowstrength) 2px var(--shadowcolor);
  opacity: var(--opacity);
  /* Hidden */
  /* Hidden and hovered... */
  /* Collapsed and hidden */
}
div:not(:is(.camera-position-left, .camera-position-right)) #card-hands-list.minimal-ui.list-behavior-autohide:not(:hover) {
  width: 32px;
  padding: 2px;
  opacity: var(--opacity);
}
div:not(:is(.camera-position-left, .camera-position-right)) #card-hands-list.minimal-ui.list-behavior-autohide:not(:hover) .card-hands-list-title {
  margin: 1px;
  padding-left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0em;
  border: none;
  border-bottom: none;
}
div:not(:is(.camera-position-left, .camera-position-right)) #card-hands-list.minimal-ui.list-behavior-autohide:not(:hover) .card-hands-list-title > .fa-cards {
  font-size: 17.5px;
  margin: 6px 0 0 0;
  order: 2;
}
div:not(:is(.camera-position-left, .camera-position-right)) #card-hands-list.minimal-ui.list-behavior-autohide:not(:hover) .card-hands-list-title > .card-hands-list-mode {
  padding-left: 2px;
  padding-bottom: 4px;
  margin: 0 5px;
  order: 1;
  border-bottom: 2px groove var(--color-border-dark-secondary);
}
div:not(:is(.camera-position-left, .camera-position-right)) #card-hands-list.minimal-ui.list-behavior-autohide:not(:hover) #card-hands-list-hands-wrapper:has(.card-hands-list-hand:nth-child(n+1)) {
  display: none;
}
div:not(:is(.camera-position-left, .camera-position-right)) #card-hands-list.minimal-ui.list-behavior-autohide:hover {
  width: 200px;
  overflow: clip;
}
div:not(:is(.camera-position-left, .camera-position-right)) #card-hands-list.minimal-ui.list-behavior-autohide:hover .card-hands-list-title {
  display: block;
  margin: 1px;
  padding-left: 2px;
  border-bottom: revert;
}
div:not(:is(.camera-position-left, .camera-position-right)) #card-hands-list.minimal-ui.list-behavior-autohide:hover .card-hands-list-title > .fa-cards {
  border-bottom: revert;
}
div:not(:is(.camera-position-left, .camera-position-right)) #card-hands-list.minimal-ui.list-behavior-autohide:hover .card-hands-list-title > .card-hands-list-mode {
  order: revert;
}
div:not(:is(.camera-position-left, .camera-position-right)) #card-hands-list.minimal-ui.list-behavior-autohide.collapsed:not(:hover) #card-hands-list-hands-wrapper {
  display: none;
}
/* Tooltip Styles */
.card-hands-list-tooltip-heading {
  font-size: 0.9em;
  font-weight: bold;
}
.card-hands-list-tooltip-heading:has(+ .card-hands-list-card-text-description) {
  margin-bottom: 0.125em;
  padding-bottom: 0.125em;
  border-bottom: 1px dotted currentColor;
}
.card-hands-list-card-text-description {
  margin: 0;
  font-size: 0.8em;
}
#tooltip .card-hands-list-tooltip {
  text-align: left;
  line-height: 1.4;
}
#tooltip .card-hands-list-tooltip .card-hands-list-tooltip-heading {
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}
#tooltip .card-hands-list-tooltip a.content-link {
  color: #000000;
}
