:root {
  --color-tarot-noir: #385B63;
  --color-tarot-rouge: #662318;
}
.ldc.sheet.actor form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.ldc.sheet.actor form .separateur10 {
  margin-top: 10px;
}
.ldc.sheet.actor form .separateur15 {
  margin-top: 15px;
}
.ldc.sheet.actor form .titre-rouge {
  color: var(--color-tarot-rouge);
  font-size: 1.5em;
}
.ldc.sheet.actor form .titre-noir {
  color: var(--color-tarot-noir);
  font-size: 1.5em;
}
.ldc.sheet.actor form .titre-align {
  align-self: center;
  margin: 0 3px;
}
.ldc.sheet.actor form .centre {
  text-align: center;
}
.ldc.sheet.actor form .item-box {
  border: 1px solid;
  border-radius: 2px;
  border-color: grey;
  margin: 1px;
  padding: 1px;
}
.ldc.sheet.actor .sheet-header img {
  flex: 0 0 128px;
  height: 128px;
}
.ldc.sheet.actor .sheet-header label {
  align-self: center;
  padding: 0 3px;
}
.ldc.sheet.actor .sheet-header .titre-nom {
  font-size: 2em;
}
.ldc.sheet.actor .sheet-header .titre-nom input[type="text"] {
  height: max-content;
}
.grid-identite {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 4fr;
  margin: 2px;
  margin-top: 5px;
}
.grid-identite .profils {
  display: flex;
}
.grid-comp {
  display: grid;
  grid-template-columns: 1fr 3em 3em 1fr 3em 3em ;
}
.grid-comp input[type="number"] {
  width: 2.5em;
  text-align: center;
  margin: 2px 0;
}
.grid-comp .col1 {
  grid-column: 1 / 4;
}
.grid-comp .col2 {
  grid-column: 4 / 7;
}
.grid-comp .signe img {
  display: block;
  border: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.grid-comp .valeur-carac {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grid-comp .ligne-coche-carac {
  margin: 0 5px;
}
.grid-comp .titre-comp {
  align-self: center;
}
.grid-comp .valeur-comp {
  justify-self: center;
}
.grid-comp .reus-auto {
  align-self: center;
  justify-self: center;
}
.grid-escrime {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}
.grid-escrime .col-all {
  grid-column: 1 / 6;
}
.grid-escrime .col1 {
  grid-column: 1 / 3;
}
.grid-escrime .col2 {
  grid-column: 3 / 6;
}
.grid-escrime img {
  display: block;
  border: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.grid-escrime select {
  align-self: center;
}
.grid-escrime .editor {
  background-color: rgba(82, 77, 77, 0.075);
  font-size: 0.9em;
}
.grid-escrime .botte-entete {
  display: flex;
}
.grid-escrime .botte-nom {
  flex-grow: 3;
}
.ldc.sheet.item .sheet-content {
  display: flex;
  flex-direction: column;
}
.ldc.sheet.item .sheet-content select {
  width: 100%;
}
.ldc.sheet.item .sheet-content .editor {
  height: 150px;
}
.ldc.sheet.item .sheet-content div {
  padding: 1px;
}
.ldc.sheet.item .sheet-content .titre-rouge {
  color: var(--color-tarot-rouge);
  font-size: 1.5em;
}
.ldc.sheet.item .sheet-content .titre-noir {
  color: var(--color-tarot-noir);
  font-size: 1.5em;
}
.ldc.sheet.item .sheet-content .titre-align {
  align-self: center;
  margin: 0 3px;
}
.ldc.sheet.item .sheet-content .separateur15 {
  margin-top: 15px;
}
.grid-profil {
  display: grid;
  grid-template-columns: 50px 1fr 2.5em 1fr 2.5em 1fr 2.5em 1fr 2.5em 1fr 2.5em;
}
.grid-profil input[type="number"] {
  width: 2.5em;
  text-align: center;
  margin: 2px 0;
}
.grid-profil .titre-varia {
  grid-column: 1 / 3;
}
.grid-profil .valeur-varia {
  grid-column: 3 / 12;
}
.grid-profil .titre-categ {
  grid-column: 1 / 4;
}
.grid-profil .valeur-categ {
  grid-column: 4 / 8;
}
.grid-profil .titre-niveau {
  grid-column: 8 / 10;
}
.grid-profil .valeur-niveau {
  grid-column: 10 / 12;
}
.grid-profil .titre-comp,
.grid-profil .titre-varia,
.grid-profil .titre-categ,
.grid-profil .titre-niveau,
.grid-profil .titre-occulte,
.grid-profil .titre-escrime {
  align-self: center;
  margin: 0 3px;
}
.grid-profil .valeur-comp {
  justify-self: center;
  align-self: center;
}
.grid-profil .titre-occulte {
  grid-column: 1 / 5;
}
.grid-profil .titre-escrime {
  grid-column: 8 / 11;
}
.grid-profil .signe img {
  display: block;
  border: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.grid-feinte {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-feinte input[type="number"] {
  width: 2.5em;
  text-align: center;
  margin: 2px 0;
}
.grid-botte {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2.5em;
}
.grid-botte input[type="number"] {
  width: 2.5em;
  text-align: center;
  margin: 2px 0;
}
.grid-epee {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.grid-epee .titre-feintes {
  grid-column: 1 / 3;
}
.grid-epee select {
  margin: 2px 0;
}
