<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Nom de la Feinte"/></h1>
    </header>
    <div class="sheet-content feinte" data-item-id="{{item.id}}">
        <div class="grid-feinte">
            <div class="titre-align">{{localize "LdC.ecole"}}</div>
            <select name="system.ecole">
                {{#select data.system.ecole}}
                    <option value="aucun"></option>
                    {{#each ecoles as |ecole id|}}
                        <option value="{{_id}}">{{ecole.name}}</option>
                    {{/each}}
                    <option value="epee">{{localize "LdC.epee"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="titre-noir">Description de la Feinte</div> 
        {{editor data.system.description target="system.description" button=true owner=true editable=true}}
    </div>
</form>