.ldc.sheet.actor form {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .separator {
        margin-top: 15px;
    }

    .txt-noir {
        color: var(--color-tarot-noir);
    }

    .txt-rouge {
        color: var(--color-tarot-rouge);
    }
}

.ldc.sheet.actor .sheet-header {
    img {
        flex: 0 0 128px;
        height: 128px;
    }

    label {
        align-self: center;
        padding: 0 3px;
    }

    .titre-nom {
        font-size: 2em;

        input[type="text"] {
            height: max-content;
        }
    }

    .item-box {
        border: 1px solid;
        border-radius: 2px;
        border-color: grey;
        margin: 1px;
        padding: 1px;
    }
}

.grid-identite {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 4fr;

    margin: 2px;
    margin-top: 5px;
}

.grid-comp {
    display: grid;
    grid-template-columns: 1fr 3em 3em 1fr 3em 3em ;

    input[type="number"] {
        width: 2.5em;
        text-align: center;
        margin: 2px 0;
    }

    .col1 {
        grid-column: 1 / 4;
    }

    .col2 {
        grid-column: 4 / 7;
    }

    .titre-carac {
        text-align: center;
        font-size: 1.5em;
    }

    .signe {

        img {
            display: block;
            border: none;
            width : 50px;
            height : 50px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .valeur-carac {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ligne-coche-carac {
        margin: 0 5px;
    }

    .titre-comp {
        align-self: center;
    }

    .titre-comp-spe {
        align-self: center;
        font-size: 1.5em;
    }

    .valeur-comp {
        justify-self: center;
    }

    .reus-auto {
        align-self: center;
        justify-self: center;
    }
}

.grid-escrime {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;

    .titre-escrime {
        text-align: center;
        font-size: 1.5em;
    }

    .col-escrime {
        grid-column: 1 / 3;
    }
}