<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128">
        <div class="actor-infos">
            <div class="titre-nom"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'LdC.nom'}}"/></div>
            <div class="grid-identite">
                <label>{{localize "LdC.age"}}</label>
                <input name="system.age" type="text" value="{{data.system.age}}" placeholder="{{localize 'LdC.age'}}">
                <label>{{localize "LdC.sexe"}}</label>
                <select name="system.sexe">
                    {{#select data.system.sexe}}
                    {{#each config.sexe as |sexe keySexe|}}
                        <option value="{{keySexe}}">{{sexe}}</option>
                    {{/each}}
                    {{/select}} 
                </select>
                <label>{{localize "LdC.origine"}}</label>
                <input name="system.origine" type="text" value="{{data.system.origine}}" placeholder="{{localize 'LdC.origine'}}">
                <label>{{localize "LdC.profils"}}</label>
                <div class="profils">
                    {{#each profils as |profil id|}}
                        <div class="profil-item item-box">
                            <label>{{profil.name}}</label>
                            <a class="profil-suppr" title="{{localize 'LdC.supprProfil'}}" data-item-id="{{profil._id}}"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </header>
    <div class="sheet-fixed-content">
        <nav class="sheet-tabs tabs" data-group="principal">
            <a class="item" data-tab="caracteristiques">{{localize "LdC.caracteristiques"}}</a>
            <a class="item" data-tab="escrime">{{localize "LdC.escrime"}}</a>
            <a class="item" data-tab="arcanes">{{localize "LdC.arcanes"}}</a>
            <a class="item" data-tab="ressContacts">{{localize "LdC.ressContacts"}}</a>
            <a class="item" data-tab="description">{{localize "LdC.description"}}</a>
        </nav>
    </div>
    <section class="sheet-body">
        <div class="tab" data-group="principal" data-tab="caracteristiques">
            <div class="grid-caracs">
                <div class="col-sante grid-sante">
                    {{#times data.system.secondaires.vitalite.max}}
                        {{#if (eq @index 1)}}
                            <div class="row1 col-min">
                                <a class="mod-car-sec" title="{{localize 'LdC.tooltip.decocherVitalite'}}" data-carac="vitalite" data-action="minus">
                                    <i class="fa-solid fa-heart-circle-minus"></i>
                                </a>
                            </div>
                            <div class="row1 col-plus">
                                <a class="mod-car-sec" title="{{localize 'LdC.tooltip.cocherVitalite'}}" data-carac="vitalite" data-action="plus">
                                    <i class="fa-solid fa-heart-circle-plus"></i>
                                </a>
                            </div>
                        {{/if}}
                        {{#if (gte data.system.secondaires.vitalite.value @index)}}
                            <div class="row{{@index}} col-check"><i class="fa-solid fa-xmark"></i></i></div> 
                        {{else if (gt @index data.system.secondaires.tenacite.valueInv)}}
                            <div class="row{{@index}} col-check"><i class="fa-solid fa-check"></i></div>
                        {{else}}
                            <div class="row{{@index}} col-check"></div>
                        {{/if}}
                        {{#if (eq @index 8)}}
                            <div class="row8 col-min">
                                <a class="mod-car-sec" title="{{localize 'LdC.tooltip.decocherTenacite'}}" data-carac="tenacite" data-action="minus">
                                    <i class="fa-regular fa-heart-circle-minus"></i>
                                </a>
                            </div>
                            <div class="row8 col-plus">
                                <a class="mod-car-sec" title="{{localize 'LdC.tooltip.cocherTenacite'}}" data-carac="tenacite" data-action="plus">
                                    <i class="fa-regular fa-heart-circle-plus"></i>
                                </a>
                            </div>
                        {{/if}}
                    {{/times}}             
                </div>
                <div class="grid-comp">
                    <div class="col1 titre-noir centre signe separateur10">
                        <div><img src="systems/lames-du-cardinal/images/signes/griffe.png"></div>
                        <div>{{localize "LdC.puissance"}}</div>
                    </div>
                    <div class="col2 titre-noir centre signe separateur10">
                        <div><img src="systems/lames-du-cardinal/images/signes/souffle.png"></div>
                        <div>{{localize "LdC.vivacite"}}</div>
                    </div>
                    <div class="col1 valeur-carac">
                        <input name="system.caracteritiques.puissance.valeur" type="number" value="{{data.system.caracteritiques.puissance.valeur}}" min="0" max="4">
                        <div class="ligne-case-carac">
                            {{#times data.system.caracteritiques.puissance.valeur}}
                                <a class="case-carac {{data.system.caracteritiques.puissance.couleur}}" title="{{@index}}" data-carac="puissance" data-index="{{@index}}">
                                    {{#if (gte data.system.caracteritiques.puissance.utilisee @index)}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
                                </a>
                            {{/times}}
                        </div>
                    </div>
                    <div class="col2 valeur-carac">
                        <input name="system.caracteritiques.vivacite.valeur" type="number" value="{{data.system.caracteritiques.vivacite.valeur}}" min="0" max="4">
                        <div class="ligne-case-carac">
                            {{#times data.system.caracteritiques.vivacite.valeur}}
                                <a class="case-carac {{data.system.caracteritiques.vivacite.couleur}}" title="{{@index}}" data-carac="vivacite" data-index="{{@index}}">
                                    {{#if (gte data.system.caracteritiques.vivacite.utilisee @index)}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
                                </a>
                            {{/times}}
                        </div>
                    </div>
                    <div class="titre-comp">{{localize "LdC.athletisme"}}</div>
                    <div class="valeur-comp"><input name="system.competences.athletisme.valeur" type="number" value="{{data.system.competences.athletisme.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.athletisme.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.creation"}}</div>
                    <div class="valeur-comp"><input name="system.competences.creation.valeur" type="number" value="{{data.system.competences.creation.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.creation.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.autorite"}}</div>
                    <div class="valeur-comp"><input name="system.competences.autorite.valeur" type="number" value="{{data.system.competences.autorite.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.autorite.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.debrouille"}}</div>
                    <div class="valeur-comp"><input name="system.competences.debrouille.valeur" type="number" value="{{data.system.competences.debrouille.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.debrouille.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.bagarre"}}</div>
                    <div class="valeur-comp"><input name="system.competences.bagarre.valeur" type="number" value="{{data.system.competences.bagarre.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.bagarre.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.duperie"}}</div>
                    <div class="valeur-comp"><input name="system.competences.duperie.valeur" type="number" value="{{data.system.competences.duperie.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.duperie.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.equitation"}}</div>
                    <div class="valeur-comp"><input name="system.competences.equitation.valeur" type="number" value="{{data.system.competences.equitation.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.equitation.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.furtivite"}}</div>
                    <div class="valeur-comp"><input name="system.competences.furtivite.valeur" type="number" value="{{data.system.competences.furtivite.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.furtivite.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.volonte"}}</div>
                    <div class="valeur-comp"><input name="system.competences.volonte.valeur" type="number" value="{{data.system.competences.volonte.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.volonte.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.vigilance"}}</div>
                    <div class="valeur-comp"><input name="system.competences.vigilance.valeur" type="number" value="{{data.system.competences.vigilance.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.vigilance.reussiteAuto}} )</div>

                    <div class="col1 titre-rouge centre signe separateur10">
                        <div><img src="systems/lames-du-cardinal/images/signes/sang.png"></div>
                        <div>{{localize "LdC.galanterie"}}</div>
                    </div>
                    <div class="col2 titre-rouge centre signe separateur10">
                        <div><img src="systems/lames-du-cardinal/images/signes/ecaille.png"></div>
                        <div>{{localize "LdC.finesse"}}</div>
                    </div>
                    <div class="col1 valeur-carac">
                        <input name="system.caracteritiques.galanterie.valeur" type="number" value="{{data.system.caracteritiques.galanterie.valeur}}" min="0" max="4">
                        <div class="ligne-case-carac">
                            {{#times data.system.caracteritiques.galanterie.valeur}}
                                <a class="case-carac {{data.system.caracteritiques.galanterie.couleur}}" title="{{@index}}" data-carac="galanterie" data-index="{{@index}}">
                                    {{#if (gte data.system.caracteritiques.galanterie.utilisee @index)}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
                                </a>
                            {{/times}}
                        </div>
                    </div>
                    <div class="col2 valeur-carac">
                        <input name="system.caracteritiques.finesse.valeur" type="number" value="{{data.system.caracteritiques.finesse.valeur}}" min="0" max="4">
                        <div class="ligne-case-carac">
                            {{#times data.system.caracteritiques.finesse.valeur}}
                                <a class="case-carac {{data.system.caracteritiques.finesse.couleur}}" title="{{@index}}" data-carac="finesse" data-index="{{@index}}">
                                    {{#if (gte data.system.caracteritiques.finesse.utilisee @index)}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
                                </a>
                            {{/times}}
                        </div>
                    </div>
                    <div class="titre-comp">{{localize "LdC.intrigue"}}</div>
                    <div class="valeur-comp"><input name="system.competences.intrigue.valeur" type="number" value="{{data.system.competences.intrigue.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.intrigue.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.erudition"}}</div>
                    <div class="valeur-comp"><input name="system.competences.erudition.valeur" type="number" value="{{data.system.competences.erudition.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.erudition.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.negoce"}}</div>
                    <div class="valeur-comp"><input name="system.competences.negoce.valeur" type="number" value="{{data.system.competences.negoce.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.negoce.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.investigation"}}</div>
                    <div class="valeur-comp"><input name="system.competences.investigation.valeur" type="number" value="{{data.system.competences.investigation.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.investigation.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.persuasion"}}</div>
                    <div class="valeur-comp"><input name="system.competences.persuasion.valeur" type="number" value="{{data.system.competences.persuasion.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.persuasion.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.medecine"}}</div>
                    <div class="valeur-comp"><input name="system.competences.medecine.valeur" type="number" value="{{data.system.competences.medecine.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.medecine.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.seduction"}}</div>
                    <div class="valeur-comp"><input name="system.competences.seduction.valeur" type="number" value="{{data.system.competences.seduction.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.seduction.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.technique"}}</div>
                    <div class="valeur-comp"><input name="system.competences.technique.valeur" type="number" value="{{data.system.competences.technique.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.technique.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.strategie"}}</div>
                    <div class="valeur-comp"><input name="system.competences.strategie.valeur" type="number" value="{{data.system.competences.strategie.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.strategie.reussiteAuto}} )</div>

                    <div class="titre-comp">{{localize "LdC.tir"}}</div>
                    <div class="valeur-comp"><input name="system.competences.tir.valeur" type="number" value="{{data.system.competences.tir.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.tir.reussiteAuto}} )</div>
                </div>
                <div class="grid-comp separateur15">
                    <div class="titre-comp titre-rouge ">{{localize "LdC.occultisme"}}</div>
                    <div class="valeur-comp"><input name="system.competences.occultisme.valeur" type="number" value="{{data.system.competences.occultisme.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.occultisme.reussiteAuto}} )</div>

                    <div class="titre-comp titre-noir">{{localize "LdC.escrime"}}</div>
                    <div class="valeur-comp"><input name="system.competences.escrime.valeur" type="number" value="{{data.system.competences.escrime.valeur}}" min="0" max="8"></div>
                    <div class="reus-auto">( {{data.system.competences.escrime.reussiteAuto}} )</div>
               </div>
            </div>
        </div>
        <div class="tab" data-group="principal" data-tab="escrime">
            <div class="titre-noir centre separateur10">{{localize "LdC.ecole"}}</div>
            <div class="grid-ecole">
                {{#each ecoles as |ecole id|}}
                    <div><img title="{{configLocalize 'signes' ecole.system.signe}}" src="systems/lames-du-cardinal/images/signes/{{ecole.system.signe}}.png"></div>   
                    <div class="titre-align nom-ecole item-options {{ecole.system.couleur}}" data-item-id="{{ecole._id}}">{{ecole.name}}</div>
                    <details class="col-all">
                        <summary class="center titre-rouge"><label>{{localize "LdC.descEcole"}}</label></summary>
                        <div class="col-all edit-box">
                            {{editor ecole.system.description target="system.description" button=false owner=true editable=false}}
                        </div>
                    </details>
                {{/each}}
            </div>
            <div class="grid-escrime-items">
                <div class="col1 titre-noir centre separateur10">{{localize "LdC.feintes"}}</div>
                <div class="col2 titre-noir centre separateur10">{{localize "LdC.bottes"}}</div>
                <div class="feintes col1">
                    {{#each feintes as |feinte id|}}
                        <div class="feinte-item item-box">
                            <div class="entete">
                                <label class="item-options item-nom titre" data-item-id="{{feinte._id}}">{{feinte.name}}</label>
                                <img title="{{feinte.system.ecoleNom}} {{#if (ne feinte.system.ecoleSigne 'epee')}} - {{configLocalize 'signes' feinte.system.ecoleSigne}}{{/if}}" src="systems/lames-du-cardinal/images/signes/{{feinte.system.ecoleSigne}}.png">
                            </div>
                            <div class="edit-box">{{editor feinte.system.description target="feinte.system.description" button=false owner=true editable=false}}</div>
                        </div>
                    {{/each}}
                </div>
                <div class="bottes col2">
                    {{#each bottes as |botte id|}}
                        <div class="botte-item item-box">
                            <div class="entete">
                                <div class="item-options item-nom titre" data-item-id="{{botte._id}}">{{botte.name}}</div>
                                <img title="{{botte.system.ecoleNom}} - {{configLocalize 'signes' botte.system.ecoleSigne}}" src="systems/lames-du-cardinal/images/signes/{{botte.system.ecoleSigne}}.png">
                                <label class="titre"><i class="fas fa-cards" title="{{localize 'LdC.tooltip.nbFigures'}}"></i> {{botte.system.figure}}</label>
                            </div>
                            <div class="edit-box">{{editor botte.system.description target="botte.system.description" button=false owner=true editable=false}}</div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="titre-rouge centre separateur10">{{localize "LdC.epee"}}</div>
                {{#each epees as |epee id|}}
                    <div class="epee-item item-box">
                        <div class="grid-epee">
                            <div class="col-all entete">
                                <label class="item-options titre" data-item-id="{{epee._id}}">{{epee.name}}</label>
                            </div>
                            <div class="col-all edit-box">{{editor epee.system.description target="epee.system.description" button=false owner=true editable=false}}</div>
                            {{#if (or epee.system.feinte1Nom epee.system.feinte2Nom)}}
                            <div class="col-all centre titre">Feintes disponibles</div> 
                                {{#if epee.system.feinte1Nom}}
                                <div class="col-1 item-box">
                                    <div class="entete titre">{{epee.system.feinte1Nom}}</div>
                                    <div class="edit-box">{{editor epee.system.feinte1Desc target="epee.system.feinte1Desc" button=false owner=true editable=false}}</div>
                                </div>
                                {{/if}}
                                {{#if epee.system.feinte2Nom}}
                                <div class="col-2 item-box">
                                    <div class="entete titre">{{epee.system.feinte2Nom}}</div>
                                    <div class="edit-box">{{editor epee.system.feinte2Desc target="epee.system.feinte2Desc" button=false owner=true editable=false}}</div>
                                </div>
                                {{/if}}
                            {{/if}}    
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="tab" data-group="principal" data-tab="arcanes">
            {{#each arcanes as |arcane id|}}
                <div class="grid-arcanes separateur15">
                    <div class="titre-noir col-arcane-beni">{{localize "LdC.arcaneBeni"}}</div>
                    <div class="titre-rouge col-arcane-oppose">{{localize "LdC.arcaneOppose"}}</div>
                    <div class="centre titre-align case-arcane-suppr"><a class="arcane-suppr" title="{{localize 'LdC.supprArcane'}}" data-item-id="{{arcane._id}}"><i class="fa-solid fa-xmark"></i></a></div>
                    <div class="titre-align text-arcane">{{arcane.name}}</div>
                    <div class="centre titre-align text-arcane">N° {{arcane.system.numero}}</div>
                    {{#if arcane.system.arcaneOppose}}    
                        <div class="titre-align text-arcane">{{arcane.system.arcaneOppose.name}}</div>
                        <div class="centre titre-align text-arcane">N° {{arcane.system.arcaneOppose.system.numero}}</div>
                    {{/if}}
                    <div class="item-box col-all">
                        <div class="entete text-arcane">{{localize "LdC.marque"}}</div>
                        <div>{{editor arcane.system.marqueDraconique target="arcane.system.marqueDraconique" button=false owner=true editable=false}}</div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="tab" data-group="principal" data-tab="ressContacts">
            <div class="grid-ressContacts separateur10">
                <div class="centre titre-rouge">{{localize "LdC.ressources"}}</div>
                <div class="centre titre-rouge">{{localize "LdC.contacts"}}</div>
                <div class="valeur-ress">
                    <input name="system.secondaires.ressources.valeur" type="number" value="{{data.system.secondaires.ressources.valeur}}" min="0" max="8">
                    <div class="ligne-case-ress">
                        {{#times data.system.secondaires.ressources.valeur}}
                            <a class="case-ress" title="{{@index}}" data-index="{{@index}}">
                                {{#if (gte data.system.secondaires.ressources.utilisee @index)}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
                            </a>
                        {{/times}}
                    </div>
                </div>
                <div class="valeur-contact">
                    <input name="system.secondaires.contacts.valeur" type="number" value="{{data.system.secondaires.contacts.valeur}}" min="0" max="8">
                    <div class="ligne-case-contact">
                        {{#times data.system.secondaires.contacts.valeur}}
                            <a class="case-contact" title="{{@index}}" data-index="{{@index}}">
                                {{#if (gte data.system.secondaires.contacts.utilisee @index)}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
                            </a>
                        {{/times}}
                    </div>
                </div>
                <div class="centre titre-noir separateur10">{{localize "LdC.possessions"}}</div>
                <div class="centre titre-noir separateur10">{{localize "LdC.relations"}}</div>
                <div class="equip">
                    {{#each equipements as |equip id|}}
                        <div class="equip-item item-box">
                            <div class="equip-entete">
                                <div class="item-options equip-nom" data-item-id="{{equip._id}}">{{equip.name}}</div>
                                <label><i class="fa-solid fa-shield" title="{{localize 'LdC.tooltip.qualiteEquip'}}"></i> : {{configLocalize "qualiteEquip" equip.system.qualite}}</label>
                            </div>
                            {{#if equip.system.effet}}
                                <div class="row-titre"> Effet : {{equip.system.effet}}</div>
                            {{/if}}
                            <div>{{editor equip.system.description target="equip.system.description" button=false owner=true editable=false}}</div>
                        </div>
                    {{/each}}
                </div>
                <div class="contact">
                    {{#each contacts as |contact id|}}
                        <div class="contact-item item-box">
                            <div class="contact-entete">
                                <div class="item-options contact-nom" data-item-id="{{contact._id}}">{{contact.name}}</div>
                                <label><i class="fa-solid fa-medal" title="{{localize 'LdC.tooltip.importanceContact'}}"></i> : {{configLocalize "importance" contact.system.importance}}</label>
                            </div>
                                <div class="row-titre"> Catégorie : {{configLocalize "categorie" contact.system.categorie}}</div>
                            <div>{{editor contact.system.description target="contact.system.description" button=false owner=true editable=false}}</div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="tab desc" data-group="principal" data-tab="description">
            <div class="titre-noir">{{localize "LdC.description"}}</div>
            <div>{{editor data.system.description target="system.description" button=true owner=true editable=true}}</div>
            <div class="titre-rouge">{{localize "LdC.habillement"}}</div>
            <div>{{editor data.system.habillement target="system.habillement" button=true owner=true editable=true}}</div>
        </div>
    </section>
</form>