<div class="desc-ecole">
    <div class="grid-titre">
        <div><img src="systems/lames-du-cardinal/images/signes/{{system.signe}}.png"></div>
        <div>{{name}}</div>
    </div>
    <div>
        {{editor system.description target="system.description" button=false owner=true editable=false}}
    </div>
</div>